<div class="h-48 w-full bg-center"
     style="background-image: url(<%= image_path('karlskrona.jpg') %>)">
</div>

<div class="container pt-6">
  <h1 class="text-4xl text-black">
    <%= t('.title') %>
  </h1>

  <p class="text-gray-900">
    <%= t('.introduction_html') %>
  </p>
</div>
