<div class="h-48 w-full bg-center"
     style="background-image: url(<%= image_path('karlskrona.jpg') %>)">
</div>

<div class="container pt-8">
  <%= heading_1 t('.title') %>

  <%= paragraph t('.introduction_html') %>
</div>
